body {
  font-family: "YuGothicM";
}

li {
  list-style:none;
}

.header {
  background-color:#FFFFFF;
  color: #000000;
  height: 70px;
}

.header img {
  display:block;
  margin:auto;
  padding: 0;
}

.nav {
  display:block;
  width:1000px;
  margin:auto;
}

.nav li {
  float: left;
  padding-bottom:10px;
  text-align:center;
  line-height: 40px;
	height:40px;
	width:190px;
	white-space:nowrap;
  background: #FFFFFF;
	font-size:100%;
	border-left: solid 1px #000000;
	letter-spacing: 0.05em;
}

.main {
  width: 100%;
  margin:10px 0px;
  height: auto;
  background-color:#000000;
}

.top-image img {
  display:block;
  margin:auto;
  width:1000px;
  padding:10px;
}

.about {
  display:block;
  width:1000px;
  margin:auto;
}

.clear {
  clear:both;
}

.date p {
  padding-left: 5em;
}

.place p {
  padding-left: 5em;
}

.target p {
  padding-left: 5em;
}

.purpose p {
  padding-left: 5em;
}

.sponser p {
  padding-left: 5em;
}

.footer {
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #000000;
  color: #fff;
}

.footer p {
  text-align:center;
}

.abouts {
  display:block;
  width:1000px;
  margin:auto;
}
